<h2>My Tasks</h2>

<a href="{% url 'member_dashboard' %}">
    Back to Dashboard
</a>

<br>
<br>

<table border="1">

<tr>
    <th>Task</th>
    <th>Progress</th>
    <th>Status</th>
    <th>Presentation Meet</th>
    <th>Action</th>
</tr>

{% for task in tasks %}

<tr>

<td>{{ task.task_name }}</td>

<td>{{ task.progress }}%</td>

<td>{{ task.status }}</td>

<td>
{% if task.google_meet_link %}
    <a href="{{ task.google_meet_link }}" target="_blank" rel="noopener">
        Join Meet
    </a>
{% else %}
    Not shared yet
{% endif %}
</td>

<td>

<a href="{% url 'update_progress' task.id %}">
Update
</a>

|

<a href="{% url 'progress_history' task.id %}">
History
</a>

</td>

</tr>

{% endfor %}

</table>
